[2021-10-11 18:01] smontanaro opened #3 "Configuring using --with-trace-refs doesn't produce a buildable configuration"
For some other (now defunct) work I was doing, I had a build script which configured using --with-trace-refs by default. This doesn't seem to work, producting a compilation error in Objects/object.c (at least). If it shouldn't build with that config setting, perhaps make it a no-op or remove it from configure.ac altogether.

[2021-10-13 20:54] #3 closed

[2021-10-13 22:36] o11c opened #4 "Assorted observations"
Disclaimer: I would not, by any means, call myself an expert at either concurrency or CPython. Nonetheless, several things jumped out at me (a couple of which are quite concerning; others of which are quibbles, guesses, or random ideas)

This is a mixture of feedback on the design document (mostly in order) and the implementation (randomly).

I've done this as a single post with checkboxes, since

[2021-10-14 19:02] colesbury commented on #4
Thanks for your comments and taking the time to read through the design and code.

It's just "[use atomic operations; keep the GIL](https://github.com/colesbury/nogil/commits/always_atomic)". Atomic instructions (Intel calls them "Locked Atomic Operations") are much [more expensive](https://uops.info/table.html?search=INC%20(M64)&cb_lat=on&cb_tp=on&cb_uops=on&cb_ports=on&cb_SKL=on&cb_measurements=

[2021-10-16 08:54] FasterSpeeding opened #5 "Jump too big RuntimeError raised while importing some commonly used libraries"
Importing some commonly used libraries (youtube==2021.6.6 and beautifulsoup4==4.10.0 are the two examples I can reproduce this behaviour on myself) leads to the following runtime error being raised by compile2.c:

[code]

This leads to compatibility issues as this error isn't seen on the reference Cpython 3.9.0.a3 release (since compile2.c is unique to this fork)

For reference I'm running this on

[2021-10-16 22:02] john9631 opened #6 "Segfault when importing within ptpython"
Built with and without enable optimisations on

[code]

`./pip3 install --upgrade ptpython`

`./python3 -m ptpython`

Imports cause seg faults (not true in python or ipython shells):

[code]

Undefined commands like ls without bang also cause a seg fault.

Interesting work thank you.  I'll try it out some more later with the backtrader module.

[2021-10-17 10:18] redradist opened #7 "[Question] Merge this POC to CPython"
I am curious if this test implementation will be merged in CPython ?

[2021-10-17 11:08] stonebig commented on #7
So say we all, but the timing is right: lot of people and money are working on python 5x speed-up goals.

[2021-10-17 17:31] colesbury commented on #6
Thanks for the bug report. This should be fixed now. Please let me know if you run into any other issues.

[2021-10-17 19:08] colesbury commented on #5
Thanks for the detailed bug report. I've fixed the issue on GitHub. I'm working on re-building the Docker image now

[2021-10-17 19:50] colesbury commented on #5
The docker image is updated now. (Make sure to run `docker pull colesbury/python-nogil`).

[2021-10-17 19:50] #5 closed

[2021-10-17 23:09] gstein opened #8 "[history] when I tried this in 1996"
Hey Sam! ... Good luck with this project. Looks great!

I removed the GIL back in 1996 from Python 1.4, primarily to create a re-entrant Python interpreter. We had embedded Python within IIS as the basis for Microsoft Merchant Server. in 2011, Dave Beazley provided a fantastic writeup/analysis of the patches that I developed. Please see it here:
http://dabeaz.blogspot.com/2011/08/inside-look-at-gi

[2021-10-18 04:06] john9631 commented on #6
Fixed thanks.  Will do.

[2021-10-18 08:43] betterA opened #9 "Looking forward to nogil and jit"
Looking forward to nogil and jit

[2021-10-18 18:40] colesbury commented on #8
Thanks, Greg! This is great. I had read Guido's blog post before, but I hadn't seen Dave Beazley's writeup and I had no idea about the integration of Python in IIS.

[2021-10-18 18:57] colesbury commented on #9
Thanks you for your encouragement.

(This project doesn't involve a jit. For Python with a jit see https://www.pypy.org/ or https://github.com/facebookincubator/cinder or https://github.com/pyston/pyston)

[2021-10-18 18:57] #9 closed, assigned to nobody

[2021-10-19 04:34] o11c commented on #4
Well, this is embarassing. It turns out my "test performance of atomics vs non-atomics" benchmark was flawed: it actually used atomics unconditionally (but with minor differences so there was a tiny performance difference). Since it performed "well enough" on my workloads that I never noticed.

Anyway, I now have some actual numbers. With atomics:

* my own "literally nothing but incref/decref" (n

[2021-10-19 19:15] nilansaha opened #11 "Add multiprocess benchmark"
Since concurrency using threads is in some way competing with multiprocess I think it makes sense to add a benchmark for that as well like how much time it takes for 20 threads vs 20 process to do the simple fib task. Obviously there are other benefits but one of the reasons to have multi threaded concurrency is its less resource intensive to start new threads compared to processes

[2021-10-19 23:35] davidhalter opened #12 "Is GC still working?"
Sorry if this is just noise. However, I was reading quite a bit of your code. It looks like a very interesting approach to this problem.

However I do not seem to find the place where the `_PyGCHead_SET_NEXT` and `_PyGCHead_SET_PREV` macros are called or where `_gc_prev` and `_gc_next` are set in your code. This might lead to GC not working at all, which means probably better benchmarks, but memor

[2021-10-20 00:36] colesbury commented on #12
Thanks for looking over the code. The garbage collector still works (and `test_gc.py` still passes).

The linked list (`_gc_prev` and `_gc_next`) is only maintained during garbage collection. It's created in `update_ref`:

https://github.com/colesbury/nogil/blob/703a299d9f412b38caf3d2301d1a365135b66bff/Modules/gcmodule.c#L840-L843

This works by traversing the `mimalloc` heap to find all objects:

[2021-10-20 04:55] 0417taehyun opened #13 "Can I translate Google Doc in Korean?"
I'm student loving and leaning Python and I could know your project by python newsletters.

Can I translate your Google Doc in Korean and share to others for a personal purpose?

[2021-10-20 12:35] zhangkaizhao opened #18 "Does not pass all regression tests"
With the last commit `703a299d9f412b38caf3d2301d1a365135b66bff` of nogil, test command is like:
[code]
and breaking at:
[code]
Using the scripts from the official python package of Arch Linux on Arch Linux x86_64:
<https://github.com/archlinux/svntogit-packages/tree/packages/python/trunk>
 (current commit `a1ae1728730878a4436be1538880d1ab39367e72`)

[2021-10-20 15:10] colesbury commented on #13
Yes, you are welcome to translate and share the Google doc.

[2021-10-20 15:30] 0417taehyun commented on #13
Thx. I will write the URL after I share it 😆

It's great honor to see your project.

[2021-10-20 18:35] davidhalter commented on #12
Thanks a lot for explaining!

I guess the missing piece for me was really this one (from your [design document](https://docs.google.com/document/d/18CXhDb1ygxg-YXNBJNzfzZsDFosB5e6BfnXLlejd9l0/edit#)):

I wasn't aware that any allocator could do this efficiently :) Interesting!

----------

An additional question from reading your design document:

(I assume you mean the `PyGC_Head` linked list and

[2021-10-21 07:06] Stiegnate opened #19 "Can not install cffi using poetry"
I just tried to use nogil on my side project, and found out there is an error when installing [cffi](https://foss.heptapod.net/pypy/cffi). Seems like there is a confict between [nogil](https://github.com/colesbury/nogil/blob/nogil/Include/object.h#L119) and [CPython](https://github.com/python/cpython/blob/main/Include/object.h#L105).

Origin error message as following,

[code]

[2021-10-21 08:20] ApproximateIdentity commented on #19
Judging by this part of the error message

[code]

it looks like the issue is that cffi is accessing the `ob_refcnt` field that was removed in this commit:

https://github.com/colesbury/nogil/commit/24d53bbd501665b6f86cf9a95bf8b3e70ef0c62b

If you look at the "Compatibility" section of his doc here https://docs.google.com/document/d/18CXhDb1ygxg-YXNBJNzfzZsDFosB5e6BfnXLlejd9l0/edit#heading=h.fukli

[2021-10-21 08:51] ApproximateIdentity commented on #19
Yeah I just checked that if you change this line https://foss.heptapod.net/pypy/cffi/-/blob/branch/release-1.15/c/_cffi_backend.c#L4638 from `((PyObject *)x)->ob_refcnt--;` to `Py_DECREF(x);`, then it will compile and install successfully.

That said, if you read the comment above that line here https://foss.heptapod.net/pypy/cffi/-/blob/branch/release-1.15/c/_cffi_backend.c#L4635-4637 you see tha

[2021-10-21 20:44] colesbury commented on #19
There is a compatible version of `cffi` (with [a change](https://github.com/colesbury/cffi/commit/8f2f756a46f12180fc812903502d4d71c23f31f4) similar to the one described by @ApproximateIdentity) that should be pulled by `pip`, but doesn't seem to be in your case. How are you installing `cffi`?

If you are using "pip install", can you post the output of `pip3 install -vvv cffi`?

For example:

[code

[2021-10-21 21:15] scherzocrk opened #21 "Can not import pydantic with latest docker image"
I get an error when trying to import pydantic using the latest [image](https://hub.docker.com/r/colesbury/python-nogil).

[pip.log](https://github.com/colesbury/nogil/files/7392805/pip.log)

[code]

[2021-10-21 22:25] ApproximateIdentity commented on #19
That link gives me a 404 when I click it and I don't see `cffi` listed as a repo under your name. Is it possibly marked set as private?

[2021-10-21 22:28] colesbury commented on #19
@ApproximateIdentity, sorry it was marked as private. I've made it public now.

[2021-10-21 22:30] colesbury commented on #21
Thanks for the bug report. I can reproduce the problem and will have a fix soon.

[2021-10-21 23:49] colesbury commented on #21
The ImportError is fixed now. You'll need to run `docker pull colesbury/python-nogil` to get the latest image.

Please let me know if you run into any more issues. (It's also helpful to know if you *don't* run into issues.)

Three of the pydantic test cases still fail (out of ~2000); the failures are not GIL related, but rather because this nogil Python is based off of Python 3.9.0a3, which is mis

[2021-10-22 00:42] renan-r-santos commented on #21
Just tested here and no issues :)
Thank you very much for the prompt fix and detailed explanation.

[2021-10-22 03:10] #21 closed

[2021-10-22 03:17] Stiegnate commented on #19
I use [poetry](https://github.com/python-poetry/poetry) as Python package management tool, and `cffi==1.15.0` is one of nested dependency.

Here is `pip.log`. It works in default python.

[code]

[2021-10-22 11:29] smontanaro opened #22 "Failed to build greenlet package"
Hunting around for packages which might overlap with the nogil threading changes, I settled first on greenlet. verified that it would build using 3.9.7 from Anaconda. Then I tried with nogil-3.9. It failed with what appear to be an error related to the nogil changes (`‘_Py_RefTotal’ undeclared`). `pip install` output below.

[code]

[2021-10-22 12:21] smontanaro opened #23 "Numpy will need updating"
Numpy references the ob_refcnt field. Will need some tweaks to compile. script(1) session attached. Relevant error message:

[code]

[typescript.txt](https://github.com/colesbury/nogil/files/7397046/typescript.txt)

[2021-10-22 16:47] smontanaro commented on #23
I'll take this one for the moment and see if I can easily fix the problem. I'm guessing Sam will probably have to assign it to me, as I can't seem to "take" it.

[2021-10-22 17:06] colesbury commented on #23
Hi Skip -- I have patches for NumPy in https://github.com/colesbury/numpy/tree/v1.19.3-nogil

The "nogil" branch pulls the patched NumPy wheel (it contains a modified "pip" that pulls from https://d1yxz45j0ypngg.cloudfront.net/). The "nogil-3.9" branch is still a work-in-progress of the rebase and doesn't contain the modified pip.

[2021-10-22 17:09] colesbury commented on #22
Thanks for testing out these packages. I think this problem is probably better addressed by patching the nogil-3.9 branch instead of patching greenlet. (Some time between 3.9.0a3 and 3.9 final release the `_Py_DEC_REFTOTAL` macro was removed. I think it's probably easiest to add it back.)

If you're testing out packages, I'd recommend sticking to the "nogil" branch. The "nogil-3.9" branch is not s

[2021-10-22 17:29] smontanaro commented on #23
Okay... A few quick points.

1. Is there a canonical way to detect a no-gil build at runtime? (I used #ifdef _Py_TRY_INCREF)
2. Seems to be a missing cast of the PyMem_RawCalloc() return value in Include/lock.h:_PyEventRc_New.
3. Should I be messing around with the nogil or nogil-3.9 branch?

[2021-10-22 17:29] #23 closed, assigned to nobody

[2021-10-22 17:53] colesbury commented on #23
1. `#ifdef Py_NOGIL`
2. Thanks, for catching this!
3. Stick with the "nogil" branch. That's what I'm using for compatibility testing.

[2021-10-22 21:01] colesbury commented on #19
If you use `poetry`, you'll have to add a custom repository and make sure to use packages available in that repository:

[code]

[code]

(Only cffi 1.14.6 is available for nogil Python; not 1.15.0)

(and then run `poetry update`)

[2021-10-24 20:10] smontanaro opened #25 "Not getting numpy"
In a [now-closed issue](https://github.com/colesbury/nogil/issues/23) Sam wrote:

I built from the nogil branch (not nogil-3.9), ran ensure pip to get the modified pip, then tried to install numpy.

Looking at the pip-ish bits included in the nogil branch, it seems to have two versions of pip, 19.2.3 and 21.2.4:

[code]

Ensure-pip installed the 21.2.4 version:

[code]

When I tried to install num

[2021-10-25 15:51] Red-Eyed commented on #25
Everything works fine at my side.

### My system:
[code]

## Python building:
[code]

## Numpy check:
[code]

So I think this issue could be closed (and maybe add more precise description of how to build python)

[2021-10-25 16:24] colesbury commented on #25
@smontanaro can you share the commands you used to install nogil Python? Is `PYTHONHOME` or `PYTHONPATH` set? (`env | grep PYTHON`). It looks like `pip` is using some details from your system installed Python.

[2021-10-25 16:40] Red-Eyed commented on #25
Yeah, that's might be a problem as well

to unset all `PYTHON*` variables in bash
[code]

So that cmdline could be executed before trying to build python

[2021-10-25 16:46] smontanaro commented on #25
Sorry for the noise. I routinely run with an active Conda environment (even when working in my Python repo). It's never given me problems before, though I will admit not to have ever used a PyPI index which injects a nonstandard location into the search path, nor have I ever installed prebuilt wheels (as far as I know). Once I deactivated my Conda environment and zapped a couple CONDA_* environmen

[2021-10-25 16:47] smontanaro commented on #25
Oh, and needing to cooperate with other developers is a bit far in the past for me. :-)

[2021-10-25 16:51] Red-Eyed commented on #25
To avoid delation, you can also run python interpreter with [-E](https://docs.python.org/3/using/cmdline.html#cmdoption-E) and [-s](https://docs.python.org/3/using/cmdline.html#cmdoption-s) options.
e.g.: `./bin/python3 -E -s -m IPython`

[2021-10-26 01:22] #25 closed, assigned to nobody

[2021-10-27 01:13] #19 closed, assigned to nobody

[2021-10-27 14:29] lopuhin opened #26 "Building lxml from source"
Hi, thanks for a super promising project!

To test some stuff, I'd like to build lxml from source, as I understand it required some fixes, would you mind releasing the patched lxml source? For reference, the first error when building lxml from PyPI is

[code]

[2021-10-27 15:43] colesbury commented on #26
The lxml wheel was built directly from the 4.6.3 source release on PyPI. No changes were necessary. For reference, the equivalent line from the source release looks like:

[code]

The script used to build the wheel is here:
https://github.com/colesbury/nogil-install/blob/master/pip/build-lxml-wheel.sh

If you are building from the GitHub sources, you may need to update your Cython installation.

[2021-10-27 18:48] lopuhin commented on #26
Thank you, this makes sense - my bad not checking a more recent version. ``pip install lxml --no-binary lxml`` worked for me 👍

That gives 404 for me.

[2021-10-27 18:48] #26 closed, assigned to nobody

[2021-10-27 19:03] colesbury commented on #26
Ooops. The project was still private. I've made it public now.

[2021-11-01 09:32] datdinhquoc opened #27 "Is it possible to trick Numpy as having GIL?"
Python nogil builds OK, with Pip. But Numpy won't compile (I have to compile coz pip can't find a suitable Numpy prebuilt).

Numpy build error:
[code]

I guess the Python nogil source code has removed that variable `ob_refcnt`, and Numpy without doubts won't compile. **Is it possible to trick that Numpy about the variables about GIL it needs?**

[2021-11-01 09:44] erlend-aasland commented on #27
Changing it to use [Py_REFCNT](https://docs.python.org/3/c-api/structures.html#c.Py_REFCNT) should work:

https://github.com/colesbury/nogil/blob/b0ee2c47400b4692c6745a3db3d546e1bc3a1440/Include/object.h#L138

https://github.com/colesbury/nogil/blob/b0ee2c47400b4692c6745a3db3d546e1bc3a1440/Include/object.h#L794-L811

[2021-11-01 11:05] datdinhquoc commented on #27
@erlend-aasland oh man, tks, this works! numpy compiled perfectly:

change:
[code]

to:
[code]

[2021-11-01 16:24] #27 closed

[2021-11-01 17:55] colesbury commented on #27
There are additional changes need to run NumPy without the GIL. I'm tracking them in my fork. See https://github.com/colesbury/numpy/commits/v1.19.4-nogil

You can either check out the repository and build it or use the following command:

[code]

Or to use multiple cores to build use something like:

[code]

[2021-12-23 03:14] fengyang95 commented on #21
I want to know if you have completed this update? I encountered some problems when using pydantic. Here comes the error:

Modules/gcmodule.c:2674: PyObject_GC_Track: Assertion failed: object already tracked by the garbage collector
Enable tracemalloc to get the memory block allocation traceback

object address  : 0x52d684301d0
object refcount : 1
object type     : 0x7f8f55d01fc0
object type name:

[2021-12-23 15:19] colesbury commented on #21
No, it's nearly done, but I have not rebuilt the docker images or extensions yet. Can you provide more details about how to reproduce the issue? I'd like to make sure the bug is fixed before releasing a new build.

[2021-12-23 17:07] nuclearmistake commented on #22
Get that error with configure --with-pydebug on nogil

[2021-12-23 17:45] colesbury commented on #22
@nuclearmistake, thanks -- looks like I misnamed that macro `_Py_DEC_REFTOTAL` vs. `_Py_DECREF_TOTAL`.

[2021-12-23 17:49] #22 closed

[2021-12-24 03:24] fengyang95 commented on #21
Sorry, I found that my code was not correct, not caused by pydantic module.

[2021-12-26 04:45] fengyang95 commented on #21
Run the following script with nogil:latest, there is a probability of gc error，hope to get your help

Modules/gcmodule.c:2674:

[code]

[2021-12-28 16:40] colesbury opened #28 "Crash with pydantic in nogil mode"
Reported by @fengyang95

`Modules/gcmodule.c:2674`

[code]

[2021-12-28 16:41] colesbury commented on #21
@fengyang95 Thanks, I'm able to reproduce the issue. I've opened a new issue #28 to track the bug. I should have a fix soon.

[2021-12-29 13:16] sonotley opened #29 "Should cProfile be working? nogil is slow for me and profiling doesn't work."
I posted [a thread on Reddit](https://www.reddit.com/r/Python/comments/rplts6/i_tested_the_nogil_fork_with_a_parallel/) summarising some testing I performed where I found nogil to be very slow. I tried to use cProfile to understand the performance but the output from cProfile doesn't seem to make any sense - it reports a runtime far less than the actual observed runtime and the profile itself does

[2021-12-29 19:06] colesbury commented on #29
Thanks for the bug report. I can reproduce both issues: cProfile not working properly and the slow performance in your poker hand evaluator.

cProfile is fixed in the "nogil-3.9" branch, but that branch isn't ready yet. I should have a release based on the branch in a week or so.

The poor performance looks like its due to poor dictionary performance when the key hashes aren't well distributed (su

[2021-12-29 19:32] sonotley commented on #29
Thanks for your reply, and thanks for the enormous amount of work you've
put into this.

I got the feeling there was a performance issue with dictionaries since my
code leans extremely heavily on the highly optimised dictionary structure
for speed, the support for integer keys is also pretty essential for the
prime number shenanigans I adapted from leading poker algorithms.

I'll give the new rele

[2021-12-31 08:29] tim-watcha opened #30 "Installing on Apple silicon"
I’m having trouble installing on M1 iMac, but it seems it’s not possible while config.sub is outdated. Do you have any plan to support Apple Silicon?

[2021-12-31 09:27] #30 closed

[2022-01-06 16:36] colesbury commented on #18
Thanks for the bug report. This is fixed now.

[2022-01-06 16:36] #18 closed

[2022-01-06 16:56] colesbury commented on #28
Fixed now

[2022-01-06 16:56] #28 closed

[2022-01-06 17:17] colesbury commented on #29
cProfile and the poor performance in build_json.py is fixed, but you're not going to get good scaling with threads in your main_prime.py. There is a critical bottleneck on the reference counts in the data structures shared between threads, in particular "ranked_hands_dict".

[2022-01-06 20:06] sonotley commented on #29
Thanks for the update. Feel free to close this issue. I'll change the code
to remove shared data structures as much as possible to see if I can get
some mileage out of nogil.

On Thu, 6 Jan 2022, 17:17 Sam Gross, ***@***.***> wrote:

[2022-01-06 20:45] #29 closed

[2022-01-09 10:29] sonotley commented on #29
I've retested and can confirm the latest release is much faster. Still not matching standard CPython, but much improved. I'm also seeing some gains from threading. I've been looking at how to remove the reference counting bottleneck. The obvious change is to pass a copy of all the data structures to each thread. This definitely helps, but adds overhead to starting the thread. I read up on your cha

[2022-01-09 19:46] hkhk366 opened #31 "ubuntu 20.04 cannot install numba 0.54"
Hello,
I would like to report an issue.
I downloaded numba from here: https://d1yxz45j0ypngg.cloudfront.net/numba/
I run "pip install numba-0.54.0-nogil39-nogil_39_x86_64_linux_gnu-manylinux_2_17_x86_64.manylinux2014_x86_64.whl"
It gives me the following error
"ERROR: numba-0.54.0-nogil39-nogil_39_x86_64_linux_gnu-manylinux_2_17_x86_64.manylinux2014_x86_64.whl is not a supported wheel on this plat

[2022-01-10 17:52] colesbury commented on #31
Numba doesn't work with nogil Python because the bytecode format has changed. The package you linked to is from an earlier attempt to build Numba before I realized the dependency on bytecode. I'll delete the package to avoid confusion.

I'm tracking which C API extensions work in the wiki:
https://github.com/colesbury/nogil/wiki/Supported-C-API-Extensions

[2022-01-11 05:57] hkhk366 commented on #31
Thank you for telling me that numba has problems, and I hope this project can go further and further. I do not have further questions, I will close this ticket, thanks.

[2022-01-11 05:57] #31 closed

[2022-01-11 22:10] AYMENJD opened #32 "Fatal error python"
Hi yesterday i compile `nogil python` version and i found an unexpected behavior.

On startup my application prints
[code]

and then after some minutes my app crashed with error:
[code]

[2022-01-11 23:03] colesbury commented on #32
Hi @AYMENJD, thanks for the bug report. What operating system are your using? Can you share the application that crashed?

[2022-01-12 00:03] AYMENJD commented on #32
Hey, thanks for reply.

Ubuntu 18.04 LTS 16 ram 8 cpu.

Unfortunately no.

Its telegram bot but high loaded with 400 update per second.
On startup it:
- load some C functions and shared `.so` [library](https://github.com/tdlib/td).
- creates ThreadPool with 400 threads.

And every update will be served in dedicated thread using pool.submit().

The update will be shared between 60+ loaded plugins.

[2022-01-12 18:59] colesbury commented on #32
Thanks for the information. The `gc_get_refs(gc): -1` message signifies a serious problem. I've updated the code to make that a fatal error and to print additional information for debugging. Would you please try pulling, rebuilding, and re-running your application and positing the new error message?

If I understand correctly, the `td` library is accessed through `ctypes`, right?

Does the applica

[2022-01-12 19:18] AYMENJD commented on #32
My bot is on production mode so will this effect the bot ?

Yes, i use this wrapper: [tdjson.py](https://github.com/alexander-akhmetov/python-telegram/blob/master/telegram/tdjson.py)

In my code i don't use any C API extension but my plugins use other pip packages and may these packages use that.

[2022-01-12 19:22] AYMENJD commented on #32
Also before 3 hours the program also crashed with error: ```*** stack smashing detected ***: <unknown> terminated```

[2022-01-12 20:01] colesbury commented on #32
It will crash and print debug information instead of printing `gc_get_refs(gc): -1`. So if your app printed that on start-up, it will crash (with debug info) on start-up instead.

[2022-01-12 22:24] AYMENJD commented on #32
[code]
It prints this.

[2022-01-14 15:19] colesbury commented on #32
Looks like pycld2 crashes in upstream CPython 3.9 too with assertions enabled (debug build), so that's the first problem -- a bug in pycld2. I've filed an issue on the pycld2 github: https://github.com/aboSamoor/pycld2/issues/50.

Until it's fixed upstream, you can try using a patched version of pycld2:

[code]

[2022-01-14 15:30] AYMENJD commented on #32
Thanks!! the `gc_get_refs(gc): -1` Fixed.

[2022-01-14 15:37] AYMENJD commented on #32
I have a question.
Why if i do `cp /usr/local/lib/pynogil/bin/python3 /usr/bin/pynogil` the copied binary doesn't work on `pip install` or `import package`.

for example on `pynogil -m pip install redis`:
[code]
but if i do `/usr/local/lib/pynogil/bin/python3 -m pip install redis` it works fine.

[2022-01-14 16:53] colesbury commented on #32
You can't copy the python binary into a different python installation. You can't mix the "nogil" Python with the CPython standard library. The "nogil" Python has changes to the standard library and it won't work with the standard library from other python installations.

[2022-01-14 16:58] AYMENJD commented on #32
Got it TnX for ur time.

[2022-01-14 19:54] thedrow commented on #32
@AYMENJD I think what you want is a [symlink](https://www.freecodecamp.org/news/symlink-tutorial-in-linux-how-to-create-and-remove-a-symbolic-link/).

[2022-01-14 19:59] AYMENJD commented on #32
OwO, it works! much TnX.

[2022-01-14 20:05] thedrow opened #33 "Make this fork available in pyenv"
This fork would be much easier to test if it was available for installation using pyenv.

Some people don't know how make or autotools work but they do know Python well enough to be familiar with pyenv.
Let's make it easier for them to test the project.

[2022-01-19 18:03] colesbury commented on #33
That's a good idea. I'll look into it.

[2022-01-21 19:53] satishdash commented on #7
This should get into CPython. I'd love to have it in 3.11 with the fastness and this parallelism. Thanks @colesbury for such a detailed work. Appreciate all the efforts. Hope it's rewarded with a merge soon.

[2022-01-27 18:01] cyyever opened #34 "Any plan to seperate mimalloc modifications?"
I have noticed that mimalloc integrated in nogil has some custom code. Can we refactor the custom modifications into other files such that users can try difference versions of mimalloc? This is convenience in case there are bug fixes in further mimalloc versions.

[2022-01-27 18:06] colesbury commented on #34
No, there are changes to mimalloc data structures and existing functions so they can't be separated into files. The changes are necessary for the garbage collection support and for the thread-safe access to dicts and lists that mostly avoids lock acquisitions.

[2022-01-31 10:46] thedrow commented on #34
Could we upstream the patches somehow?

[2022-02-08 15:38] ogrisel opened #36 "Track a more recent upstream version of CPython that supports the Apple M1 platform?"
I would like to test this experimental branch on a regular basis on my Apple M1 dev laptop when working on the Scientific Python / PyData related projects so as to be able to report problems or performance improvements encountered with practical application cases.

However the build setup in this branch is a bit too old and the configure refuses to generate the Makefile for this platform:

[code]

[2022-02-08 18:03] colesbury commented on #36
I'm not planning on rebasing on to 3.10 soon, since rebasing is a lot of work, but I'd like to support Apple's M1 cpus.

Python 3.9.1+ has [native support for Apple silicon](https://docs.python.org/3.9/whatsnew/3.9.html#macos-11-0-big-sur-and-apple-silicon-mac-support) -- I'm not sure why it doesn't work. I'll look into it more in the next few weeks when I get access to an M1 laptop.

[2022-02-08 18:05] colesbury commented on #34
The changes are specific to nogil Python, so I don't think it would make sense to adopt them in upstream mimalloc.

[2022-02-09 07:36] zhangkaizhao commented on #34
The core team of Python is trying to [bpo-46657: Add mimalloc memory allocator](https://bugs.python.org/issue46657) to Python 3.11 and it seems that it gets a little improvement on performance.

[2022-02-10 08:29] ogrisel commented on #36
BTW thanks for leading the nogil Python effort. As a maintainer of [loky](https://github.com/joblib/loky) / [joblib](https://github.com/joblib/joblib) and scikit-learn, I really think the nogil project is very important for the future of the Python / data / ML ecosystem. loky is the default backend for multi-processing for joblib and therefore scikit-learn and we spent countless hours trying to ma

[2022-02-15 16:29] thedrow commented on #36
@ogrisel If you maintain loky, we should talk as we're looking to replace billiard with something that is easier to understand and debug. Drop me an email :)

[2022-02-20 19:15] anna-hope commented on #36
@ogrisel @colesbury Using an M1 MacBook Pro, I can successfully run `./configure --with-openssl=$(brew --prefix openssl)` and generate a Makefile. However, when trying to actually run `make -j`, I get

[code]

***Update***
FWIW, running `make clean` and then re-running `make -j` produced different errors:

[code]

[2022-02-20 19:58] anna-hope opened #37 "Fails to build in Docker for linux/arm64 (M1 Mac)"
Not sure if this is related to #36, but running

[code]

on an M1 Mac (defaulting to `linux/arm64` for the platform) results in the following:

[code]

ARM64 Linux builds are listed as supported in the README. Are modifications to the `Dockerfile` necessary to successfully build an image for this platform?

[2022-02-21 15:19] ogrisel commented on #36
Thanks @anna-hope. I did a `git clean -xdf` / `git pull` and then reran the configure script and this time it worked. Then I get the same 2 errors as you get when building `Python/ceval.c`.

[2022-02-21 15:20] ogrisel commented on #36
For information, I am now running macOS 12.2.1 and the compiler env var evals to:

[code]

[2022-02-22 03:41] oraluben commented on #36
I think the `Python/ceval.c` issue is the same as https://stackoverflow.com/questions/14506151/invalid-symbol-redefinition-in-inline-asm-on-llvm. I tried a debug build and it disappear, but there's a new segfault related to mimalloc:

<details>
  <summary>Already fixed by mimalloc >= 1.7.2</summary>

[code]

and
[code]

</details>

after adopting patch (microsoft/mimalloc#346) from mimalloc, I got

[2022-03-01 15:49] fumitoh opened #38 "TypeError by passing None as closure to types.FunctionType()"
Hi, I tried to import `networkx`  and encountered an error:

[code]
[`numerical_node_match.__closure__`](https://github.com/networkx/networkx/blob/networkx-2.7/networkx/algorithms/isomorphism/matchhelpers.py#L161-L180) is `None`,  so `None` is passed to [`copyfunc`](https://github.com/networkx/networkx/blob/networkx-2.7/networkx/algorithms/isomorphism/matchhelpers.py#L21-L25) instead of a  tuple.

[2022-03-03 19:20] colesbury commented on #36
Thanks for the bug report and help with finding the underlying issues. I've pushed a branch "nogil-3.9.10" (https://github.com/colesbury/nogil/tree/nogil-3.9.10) that works on the Apple M1. It still needs some more testing, but I plan to eventually change the default "nogil" branch to point to it. For now, the "nogil-3.9.10" is unstable in the sense that I may push changes that don't preserve hist

[2022-03-03 20:29] colesbury commented on #37
Hi @anna-hope. It looks like I broke the arm64 build when refactoring pyatomic.h. I've pushed a fix (https://github.com/colesbury/nogil/commit/c3b43292dea96d333dc2c31d2d7b0f59ca5bd32a) to the nogil-3.9.10 branch. I also had to edit the Dockerfile to remove the `--enable-optimizations` line to disable profile guided optimization:

https://github.com/colesbury/nogil/blob/c3b43292dea96d333dc2c31d2d7b

[2022-03-03 23:01] colesbury commented on #38
Thanks for the bug report @fumitoh. `networkx` 2.6+ expose some issues with the nogil interpreter that aren't easy to resolve. In particular, there are some complicated cases involving modifying `__kwdefaults__` and `__code__` attributes on functions. I'll need to think a bit on how to handle those issues.

In the meantime, I think `networkx` 2.5.1 is compatible with nogil Python.

[2022-03-08 22:22] lgray opened #39 "dis.hasjrel and other opcode collections missing"
[code]

In particular this causes problems with using llvmlite/numba in conjunction with this python fork.
These are part of the nominal python distribution but it looks like this part of the code had to be significantly altered for the nogil changes.
https://docs.python.org/3.9/library/dis.html#opcode-collections
If it's not too hard to add these collections back in I may send a pull request, but

[2022-03-12 11:05] shikui08 opened #41 "numpy.array crash in thread"
Executing np.array in threaded function and the program crash.
Versions:
nogil : default branch from https://github.com/colesbury/nogil.git
numpy: v1.22.0-nogil from https://github.com/colesbury/numpy.git

Test program:

<pre>

import sys
import numpy as np
from concurrent.futures import ThreadPoolExecutor

print(f"nogil={getattr(sys.flags, 'nogil', False)}")

def fib(n):
    b = np.array(((4,4,4,

[2022-03-14 18:28] colesbury commented on #41
Hi @shikui08, thanks for the bug report. I'm able to reproduce this issue with NumPy v1.22.0-nogil. It's not present in in NumPy v1.19.3-nogil. I'll have a fix soon.

[2022-03-14 18:53] colesbury commented on #41
I've pushed fixes to:

- https://github.com/colesbury/numpy/tree/v1.22.0-nogil
- https://github.com/colesbury/numpy/tree/v1.22.3-nogil

I've also uploaded a wheel with the fix for NumPy 1.22.3 for Linux/x86_64.

Please let me know if this fixes the problem for you or if you run into additional issues.

[2022-03-15 09:37] shikui08 commented on #41
Thanks for your great work. Currently using multiprocessing. Multithreading without GIL sounds great and indeed comes as a first thought. Definitely will give it a try if  performance becomes bottleneck.

[2022-03-15 13:01] johnfouf opened #42 "crash with CFFI"
Hi, I am trying to use nogil Python within a C application that calls Python code via CFFI.
While CFFI is installed successfully with pip install cffi, there is an error while initialising it.

`import cffi` runs successfully
but `ffibuilder = cffi.FFI()` raises the following error:

[code]

[2022-03-15 14:23] #41 closed

[2022-03-16 16:09] colesbury commented on #42
Hi @johnfouf, thanks for the bug report. I'm able to reproduce the issue and will have a fix for it today or tomorrow.

[2022-03-17 20:16] colesbury commented on #42
Hi @johnfouf, I believe this is fixed now. If you're using the docker images you will need to run `docker pull nogil/python` to grab the updated Python image. If you are building from source, you will need to run `git pull` and rebuild.

You'll also need to grab an updated version of the `cffi` package:

- `pip uninstall cffi` (if it's currently installed)
- `pip cache purge` (to remove any cached

[2022-03-19 20:55] Aljutor commented on #36
Looks like this version does not have cffi package for it, I am getting
```Unable to find installation candidates for cffi (1.14.6)```

With this in pyproject.toml
[code]

[2022-03-23 06:54] AYMENJD opened #43 "Error: Stack smashing detected."
Hi, last days my program crash on high load (when users get active) and i get error:
[code]
And i don't know how track this. Also i only get it when my application receive much client updates.

Is there a way i can fix this or do anything?

[2022-03-23 16:20] colesbury commented on #43
Can you provide more details? For example:

- What version of "nogil" Python are you using? How did you install it?
- Which operating system are you using?

A core dump and backtrace would be the most helpful. You can enable core dumps on Ubuntu by running:

[code]

The first command (`ulimit`) sets the file size limit for core dumps to "unlimited"
The second command configures the operating syste

[2022-03-25 13:04] AYMENJD commented on #43
[code]
[code]

Ubuntu 18.04.6 LTS (GNU/Linux 4.15.0-167-generic x86_64)

[code]

[2022-03-27 08:42] Riatre commented on #33
Turns out this is easy, drop a file `nogil-3.9.9` under https://github.com/pyenv/pyenv/tree/master/plugins/python-build/share/python-build:

[code]

`pyenv install nogil-3.9.9` works then. I would like to try to get it incorporated upstream, but as the source archive is pinned to a SHA256 digest, do we have a release .tar.gz or release tag which could be used here?

[2022-03-27 14:41] thedrow opened #44 "Celery: Segmentation fault on set_pdeathsig"
test_process_initializer is crashing the interpreter.

See code here: https://github.com/celery/celery/blob/24f22a5dac7c5282e59f547112a1799156382f0e/t/unit/concurrency/test_prefork.py#L66-L98

[code]

[2022-04-06 13:58] thedrow commented on #44
@colesbury I'd like to continue iterating on this until nogil works with Celery.
Would you mind taking a look?

[2022-04-06 17:59] colesbury commented on #44
Hi Omer, thanks for the reminder. I was meaning to take a look at this. I'm able to reproduce the issue with nogil Python, but it also seems to affect upstream Python as well. (I tried Python 3.9.2). This line:

https://github.com/celery/billiard/blob/v3.6.4.0/billiard/util.py#L216

leads to an infinite recursion in the "ctypes" library due to the Mock object "sig". I'm not sure about all the deta

[2022-04-06 18:13] AYMENJD commented on #43
@colesbury sorry for bothering you but over 2M+ users are affected by this error. And i am using nogil on production.

[2022-04-06 18:29] colesbury commented on #43
Hi @AYMENJD, I spent some time investigating the backtrace, but I don't think there is enough information to track down the bug from it. I think the memory corruption happens some time earlier but only triggers a crash later. Access to the core dump file might help.

Do you have Discord? It might be easier to coordinate and ask questions in real time via chat. My discord id is "colesbury#7749".

[2022-04-06 18:37] AYMENJD commented on #43
@colesbury TnX for your response. I have added you on discord. My id "AYMEN#6727".

[2022-04-07 18:02] colesbury commented on #43
Here's what I've discovered so far. I'm writing this down mostly for future reference.

It looks like the crash is not actually corruption of the thread state, not the stack. Glibc's thread-local state contains the expected value of the stack guard in the thread local state:

https://github.com/bminor/glibc/blob/glibc-2.27/sysdeps/x86_64/nptl/tls.h#L51

This value is overwritten at some point shor

[2022-04-08 17:29] colesbury commented on #43
An update to the above. Again this is mostly for future reference:

It looks like the crash is due to a use-after-free or double free of a pointer. Mimalloc stores the free list pointer in the first word of each (freed) memory block. Python objects that don't use garbage collection use that same field for thread id. If the interpreter incorrectly initializes a freed block as a Python object then m

[2022-04-09 07:34] thedrow commented on #44
We're unable to reproduce this in CI or locally. The test runs correctly and does not crash the interpreter as far as I can tell.
Can you open an issue upstream with a more reliable reproducer?

[2022-04-09 07:55] thedrow opened #45 "Cannot compile nogil with OSX Big Sur (Intel)"
See [build log](https://gist.github.com/thedrow/6a521374b392bcaffc9a54c0063670ea) for details.

[2022-04-09 09:31] thedrow opened #46 "Can't compile CFFI on Ubuntu 20.04"
[code]

[2022-04-10 11:21] thedrow commented on #44
The relevant tests run correctly.

[2022-04-10 12:04] thedrow commented on #43
@colesbury I suggest running coverity, infer and cppcheck to ensure we don't have those.

[2022-04-10 19:21] colesbury commented on #44
@thedrow:

[code]

[2022-04-10 19:30] colesbury commented on #46
There is a pre-built wheel that should work on Linux for `cffi` (via `pip install cffi`)

If you need to build from source, please use https://github.com/colesbury/cffi/tree/v1.14.6-nogil.

I'll update the https://github.com/colesbury/nogil/wiki/Supported-C-API-Extensions page with links the forked packages.

[2022-04-11 11:07] thedrow commented on #46
pip uses it once but chose to compile from scratch the second time. There's some sort of dependency problem in Celery or in pip in combination with nogil as custom forks may not be well battle tested in pip's wheel codepath.

Regardless, I think we really need CFFI to support the nogil branch pronto so that I can easily proceed testing Celery.

[2022-04-12 17:26] #42 closed

[2022-04-12 17:36] colesbury commented on #43
The issue was do a race condition (thread safety) in `Modules/_json.c`. There's a `memo` dict used as a string interning pool.

https://github.com/colesbury/nogil/blob/9ba739f8155464e5c8482ab726d0c66ea6499c0f/Modules/_json.c#L718-L728

https://github.com/colesbury/nogil/blob/9ba739f8155464e5c8482ab726d0c66ea6499c0f/Modules/_json.c#L1154

The `memo` dict is shared across `json.loads` calls, but cle

[2022-04-12 17:43] colesbury commented on #43
@thedrow static analysis tools (like coverity, infer, and cppcheck) don't catch these sorts of thread safety issues. ThreadSanitizer can sometimes catch these bugs, but you need code that actually reproduces the bug, and once you have a reproducer it's usually pretty easy to track down.

[2022-04-12 20:56] colesbury commented on #46
I've submitted an issue on the `cffi` project asking for the change to use `Py_SET_REFCNT` to be made.

https://foss.heptapod.net/pypy/cffi/-/issues/532

It's probably still worth figuring out why your pip is trying to install cffi from source. Is this locally or in a CI? Do you have a hard coded URL in the requirements file?

The `cffi` package (including source distribution) from pypi is [blocke

[2022-04-12 20:57] colesbury commented on #45
I've made fixes for OSX on the [nogil-3.9.10](https://github.com/colesbury/nogil/tree/nogil-3.9.10) branch. I'm planning to promote this to the primary branch, but I still need to do some additional clean up and testing.

[2022-04-13 13:48] ogrisel opened #47 "Segmentation Fault when importing scipy.stats: SystemError: NYI: function() with closure"
Steps to reproduce:

[code]

then:

[code]

[2022-04-13 14:21] ogrisel commented on #47
I tried to introspect the call interactively and got the following gc error:

[code]

[2022-04-13 16:07] ogrisel opened #48 "Segmentation Fault in multithreaded numpy calls in NPY_AUXDATA_FREE(auxdata)"
This might be a bug in numpy that might not be thread-safe when called without the GIL but as I am not sure, here is a report:

Reproducer:

[code]

Most of the time, this code segfaults with the following backtrace for the segfaulting thread:

<details>

[code]

</details>

which is a call to `NPY_AUXDATA_FREE(auxdata);`

Note that, from time to time, I also observe the following exception before

[2022-04-13 17:20] colesbury commented on #47
Thanks for the bug report. I should have a fix out later today

[2022-04-13 17:24] colesbury commented on #48
@ogrisel what version of NumPy are you using and how did you install it?

There are some parts of NumPy that are not thread-safe without the GIL. I've patched these in my fork of NumPy and the prebuilt binary wheels include the patches, so if you run `pip install numpy` you should get a version that works without the GIL. However, if you're installing from source you should use the version from my

[2022-04-13 17:33] colesbury commented on #48
@ogrisel never mind -  I'm now able to reproduce the issue with the patched NumPy 1.22.3 (I was previously testing with the patched 1.19.4).

Thanks for the bug report and reproducer.

[2022-04-13 20:09] colesbury commented on #48
I've pushed a [fix](https://github.com/colesbury/numpy/commits/v1.22.3-nogil) to the nogil NumPy fork and re-built and uploaded the wheels.

You'll need to clear the pip cache because the version number has not changed:

[code]

Please let me know if you run into any other multithreading issues with NumPy.

[2022-04-13 20:13] colesbury commented on #47
This is fixed now in the `nogil` branch and the docker images. I've forced pushed to that branch, so you'll need to either re-clone the repository or, if you want to keep an existing checkout, run:

[code]

in order to get the changes in the nogil branch. Note that the fixed version of nogil Python should report as "Python 3.9.10".

[2022-04-13 20:14] colesbury commented on #45
This is fixed now in the main `nogil` branch. I've forced pushed to that branch, so you'll need to either re-clone the repository or, if you want to keep an existing checkout, run:

[code]

in order to get the changes in the nogil branch.

[2022-04-13 20:14] #45 closed

[2022-04-13 21:38] colesbury commented on #36
This is fixed now in the `nogil` branch. I've forced pushed to that branch, so you'll need to either re-clone the repository or, if you want to keep an existing checkout, run:

[code]

in order to get the changes in the nogil branch. Note that the fixed version of nogil Python should report as "Python 3.9.10".

[2022-04-13 21:38] #36 closed

[2022-04-14 06:09] ogrisel commented on #48
I confirm this fixed the reported bug! Thank you very much for the quick fix.

[2022-04-14 06:09] #48 closed

[2022-04-14 06:15] ogrisel commented on #47
Thanks for the quick fix, I confirm I cannot now import `scipy.stats` successfully on my end with the new state of the `nogil` branch.

[2022-04-14 06:15] #47 closed

[2022-04-14 12:15] thedrow commented on #46
The new version works correctly so I'm closing this bug.

[2022-04-14 12:15] #46 closed

[2022-04-14 12:15] thedrow commented on #44
This is now fixed in billiard. Thanks!

[2022-04-14 12:15] #44 closed

[2022-04-14 12:16] thedrow opened #49 "Celery test suite results"
https://gist.github.com/thedrow/caa5ff0598a3a06456f9742187307b2d

There are a number of failing tests which don't fail in CPython or PyPy.

@colesbury Could you please review the results?

[2022-04-14 14:37] colesbury commented on #49
@thedrow those look like test results from CPython 3.10.3, not this fork

[code]

[2022-04-14 15:03] ogrisel opened #50 "Segfault in multithreaded Cython code in memoryview __dealloc__ in scikit-learn"
Here is the original reproducer:

[code]

[code]

Note that in this code, joblib is using simple Python-level threads instead of Python worker processes.

with either of the following GDB backtraces:

[code]

at another run I got the following backtrace:

[code]

So in both cases this is occurring in the ``__dealloc__`` method of a Cython managed memoryview but from 2 different Cython files in the

[2022-04-14 15:31] colesbury commented on #50
Thanks, I can reproduce the issue and see the problem (a global cache of locks in Cython). I should have a fix soon.

[2022-04-18 16:31] colesbury commented on #50
Hi @ogrisel - the fix is taking longer than I originally expected. The Cython issue was easy enough to track down and fix, but it also exposed issues in the NumPy fork and nogil Python.

[2022-04-18 20:11] colesbury commented on #50
I've fixed issues in:

* Cython
* NumPy 1.19.3
* nogil Python

I have **not** ported the fix to NumPy 1.22.3 yet.

You'll need to rebuild nogil Python from source and install the updated packages.

[code]

The bugs were:

- Cython memory view used a pool of locks which weren't thread-safe without the GIL [[patch]](https://github.com/colesbury/cython/commit/2fed23ee14616b3f9e235945d4702d3a935ac5f4)

[2022-04-19 02:31] colesbury commented on #50
I've fixed the NumPy 1.22.3 as well now.

- I've fixed another bug in nogil Python that led to a `sklearn/compose/tests/test_target.py::test_transform_target_regressor_1d_transformer` failing [[patch]](https://github.com/colesbury/nogil/commit/f9dbb92afafc8af5f5e61bc0f2d3954e1ae45958)
- The k-means code needs modification to run correctly without the GIL [[patch]](https://github.com/colesbury/scik

[2022-04-19 08:02] ogrisel commented on #50
Yes I had already had noticed but did not mention it because I knew it was on the scikit-learn side and was planning to investigate. Thanks for the patch, I will open a PR to get it upstream.

[2022-04-19 11:20] ogrisel commented on #50
I confirm the fixes seem to work as intended: all scikit-learn tests now pass with the latest nogil versions of CPython / Cython / numpy / scipy.

However I might have observed a memory leak when running some tests under `sklearn/ensemble/_hist_gradient_boostin/tests`.

I will investigate an open a dedicated issue if needed.

Thanks again for the quick feedback.

[2022-04-19 11:20] #50 closed

[2022-04-20 12:30] ogrisel opened #51 "Memory leak when using nogil Cython"
Code to reproduce:

[code]

[code]

## Using nogil-Cython build of scikit-learn: CPython

[code]

## Using scikit-learn installed from conda-forge
[code]

Note: this code is using OpenMP-based threading but the leak still happens when disabling the OpenMP threading layer by setting `OPENMP_NUM_THREADS=1` so this problem is probably not related to OpenMP.

Note sure how to debug this. Maybe I could

[2022-04-20 15:17] ogrisel commented on #51
I did a valgrind run with only two outer loop iterations and two inner loop iterations (`max_iter=2`) because valgrind is much slower.

The result is 26 MB of leaked memory. Those mostly comes from those 2 numpy allocations:

[code]

Maybe there is a ref counting problem on those numpy arrays?

[2022-04-20 15:20] ogrisel commented on #51
Here is the Cython source:

https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/ensemble/_hist_gradient_boosting/histogram.pyx#L135

[2022-04-20 15:20] markshannon opened #52 "nogil fails to build under pyperformance --compile"
I get the error:
[code]
It appears `pyperformance` is building out of tree, and `Objects/mimalloc/` doesn't exist in the build directory.
Manually creating the `.../bench_tmpdir/build/Objects/mimalloc/` during the build allowed the build to complete.

Maybe add a `Objects/mimalloc` target to Makefile.pre.in ?

[2022-04-20 15:24] ogrisel commented on #51
This Cython method is called by Python code. The leaked returned array values are explicitly dereferenced by `del` calls at those lines:

https://github.com/scikit-learn/scikit-learn/blob/2b0d2aad77693cf2bd2d6b32f9337f8f2baba7ab/sklearn/ensemble/_hist_gradient_boosting/grower.py#L571-L579

[2022-04-20 15:31] ogrisel commented on #51
@colesbury I think I can try to craft a standalone reproducer based on the analysis above if you need.

[2022-04-20 15:40] colesbury commented on #51
@ogrisel thanks for the bug report. Looks like I messed up the patch to Cython memory views.

[2022-04-20 15:57] colesbury commented on #51
I had accidentally introduced a memory leak when addressing the thread-safety issue in #50. It's fixed now:

https://github.com/colesbury/cython/commit/f5740f09819262ef8be7675ffa8cc35c7a791cb5

You'll need to re-install Cython and re-build scikit-learn:

[code]

There may still be a much smaller memory leak that I haven't tracked down yet.

[2022-04-20 16:14] ogrisel commented on #51
I confirm it works!

[code]

Thanks very much for the quick fix!

[2022-04-20 16:14] #51 closed, assigned to nobody

[2022-04-20 16:32] colesbury commented on #52
Fixed in https://github.com/colesbury/nogil/commit/df2ffbdfa3a26eb932dd483b7aea030e49c6a3c8

(The directory is now created during configure to match how `Parser/pegen` is created)

[2022-04-20 16:32] #52 closed

[2022-04-20 16:47] ogrisel opened #53 ""gc_get_refs(gc): -1" debug prints on stdout"
This is making some scikit-learn tests fail, e.g. in `sklearn/experimental/tests/test_enable_iterative_imputer.py` the `test_imports_strategies` test fails because it expects nothing on stdout and stderr but gets:

[code]

from https://github.com/colesbury/nogil/blob/nogil/Modules/gcmodule.c#L757

Maybe this is revealing a real bug?

[2022-04-20 18:31] colesbury commented on #53
Yes, I think it's a real bug. I'll look into it.

[2022-04-20 20:32] colesbury commented on #53
This should be fixed now in https://github.com/colesbury/nogil/commit/87c61c34a1e69b802b1a2711e67c77436896d51d

[2022-04-20 21:23] ogrisel commented on #53
I confirm that this fixes the failing test.

All scikit-learn tests now pass! :champagne:

[2022-04-20 21:23] #53 closed

[2022-04-21 01:45] colesbury commented on #49
@thedrow I've run the tests locally and the only test that failed was `t/unit/concurrency/test_prefork.py::test_AsynPool::test_gen_not_started`. That should be fixed by this PR:

https://github.com/celery/celery/pull/7476

[2022-04-23 16:52] manueldeprada commented on #33
so nice!! @colesbury Please add a tag to the Git repo so we can have an stable .tar.gz🙏🙏 for example, each time you make a docker release.

[2022-04-24 07:37] #49 closed

[2022-04-28 10:12] VincentVanBork opened #54 "[Question] Can this nogil implementation also provide improvements for asyncio?"
So I was wondering if there is a chance to improve asyncio alongside nogil or maybe nogil already improves asyncio? (like threadpool offloading or sth?)

I was also wondering if now one could do something like lightweight processes inside Python with scheduler - similar to Erlang ?
I am really not sure if this question makes sense.
I am sorry if this is confusing or I said something wrong, I might

[2022-04-28 19:05] Superskyyy commented on #7
I really appreciate the dedications to this work and it will be so nice to see it merge back to upstream. We should definitely push on this once things mature.

[2022-04-29 12:44] ogrisel opened #56 "Segfault when using viztracer to profile a numpy program"
Minimal reproducer:

[code]

Here is the gdb backtrace:

<details>

[code]

</details>

Not sure if this is a bug in viztracer or in `nogil` CPython.

[2022-04-29 13:45] lesteve opened #57 "pytest InternalError when exception in pyx numpy code"
To reproduce:

[code]

[code]

[2022-04-29 18:21] gaogaotiantian commented on #56
I did not have the chance to build the `nogil` python and test this locally, but it seems like it got the segfault when trying to print `node->fee->ml_name`. I would guess it's because `node->fee->ml_name` is no long a valid string and `puts` failed there.

`viztracer` does not copy the full name string, instead it stores the pointer to that string. To make this valid, `viztracer` assumes this str

[2022-04-29 20:48] colesbury commented on #56
Thanks for the bug report @ogrisel and suggestion @gaogaotiantian . I'm able to reproduce the issue. The immediate cause is that `viztracer` is getting a `PyMethodDescrObject`, but it [expects a `PyCFunctionObject`](https://github.com/gaogaotiantian/viztracer/blob/8ae68c9c5a37a68724d9730f0ee720372f66360a/src/viztracer/modules/snaptrace.c#L402). The underlying cause is probably a bug in the impleme

[2022-04-29 21:00] gaogaotiantian commented on #56
I did not find the hook for PyEval_SetProfile in `nogil`, but in official cpython, there's https://github.com/python/cpython/blob/f6656163de483003697d510031827b7512056d55/Python/ceval.c#L7291 to convert the descriptor to PyCFunction. Maybe that's the piece missing?

(edit) I saw the corresponding part in `nogil` and obviously similar code is in there. I don't have any clue yet for what happened. I

[2022-04-29 21:19] colesbury commented on #57
Thanks, I'm able to reproduce the issue and will keep looking into it.

[2022-04-29 21:23] colesbury commented on #33
This is merged into `pyenv`. Thanks everyone for pushing on this and @Riatre for the help with the definition file.

On Linux, you can run:

[code]

On macOS with homebrew, you'll have to wait for the next release or use the more complicated steps described in the wiki: https://github.com/colesbury/nogil/wiki/Install-nogil-with-pyenv-on-macOS.

I'll update the README with instructions on installin

[2022-04-29 21:23] #33 closed

[2022-04-29 21:24] #32 closed

[2022-04-29 22:23] redradist commented on #7
@colesbury Looks like you are doing lots of work for updating to up-to-stream CPython ...
Will this nogil be added to CPython 3.11 ?

[2022-04-29 22:47] colesbury commented on #7
@redradist No, it won't be added to CPython 3.11. CPython 3.11 will have a "beta" release soon, which means a feature freeze (bug fixes only).

At the Python language summit this week I suggested integrating some of the "nogil" ideas into CPython 3.12 behind a compile flag. It's not clear if that will happen -- there's still a lot of open questions.

Having additional real use cases may help with

[2022-04-29 22:53] colesbury commented on #56
@gaogaotiantian Yes, that was basically the issue. The corresponding version of the code in the "nogil" fork didn't handle when "self" is passed through varargs. I have a fix now here:

https://github.com/colesbury/nogil/commit/851b1aac3e7a417afa8df3e35f8675adfdaa3c7e

The code `python -m viztracer -c "import numpy"` now works with this change, but I want to test it a bit more before I merge it in

[2022-05-02 10:08] ogrisel commented on #56
I confirm that 851b1aac3e7a417afa8df3e35f8675adfdaa3c7e fixes the original problem on my end.

I still have a segfault in another, more complex use case. I will open a dedicated issue.

Edit: issue opened under #58.

[2022-05-02 10:13] ogrisel opened #58 "Segfault with profiling a scikit-learn pipeline with viztracer"
The following happens when using the `issue56` branch as discussed in #56.

[code]

Here is the source code of `spline_pipeline_randomized_search.py `:

<details>

[code]

</details>

Here is the gdb backtrace:

<details>

[code]

</details>

The `py-bt` gdb commands returns:

[code]

[2022-05-05 18:09] chulucninh09 commented on #7
Hi. It is really nice to see such a dedicated work for this. I want to contribute my real use case as follow:

Taken the inspiration from [LMAX Disruptor](https://lmax-exchange.github.io/disruptor/disruptor.html) written in Java, we (devs in a stock brokerage company) are developing in-memory queue system similar to Disruptor that heavily utilize shared-memory and concurrent model to achieve low-e

[2022-05-06 10:50] goophps commented on #7
I've been looking forward to it.

[2022-05-11 23:19] colesbury commented on #58
Here's an update. There were a few bugs, some still outstanding:

- Some functions weren't being traced properly. I think those are fixed now in the [issue56](https://github.com/colesbury/nogil/tree/issue56) branch.
- viztracer has two functions that aren't thread-safe without the GIL. I have a temporary fix locally, but I'm working on cleaning it up so that it can be upstreamed.
- I occasionally

[2022-05-12 06:57] ogrisel commented on #58
I believe I had indeed. But i had not tried to investigate if i can reproduce it more deterministically without using viztracer.

[2022-05-12 12:48] ogrisel commented on #58
Indeed, let me open a dedicated issue.

Edit: done in #59.

[2022-05-12 12:53] ogrisel opened #59 "thread-safety related exception in `np.nanpercentile`: TypeError: partition() got an unexpected keyword argument 'axis'"
I randomly observe the following exceptions when running the following scikit-learn code that use Python-level thread parallelism:

<details>

[code]

</details>

Here is the full output of a typical failure:

[code]

Note that the problem is random. Some other times I get a mix of the exception above and another one: `TypeError: take() got an unexpected keyword argument 'out'`:

<details>

[code]

[2022-05-12 12:56] ogrisel commented on #59
In both cases above the exception happens under `np.nanpercentile` so I can try to craft a minimal reproducer if your think this would help.

[2022-05-12 14:09] ogrisel commented on #58
@gaogaotiantian might be interested in this part.

[2022-05-12 17:01] gaogaotiantian commented on #58
I would not be surprised if there is some code that's not thread-safe in viztracer as it is designed with GIL protection. I would be happy to accept fixes for that, if the fix does not compromise its normal behavior with cpython(including performance).

[2022-05-12 20:59] Resinderate opened #60 "Error installing `uwsgi`"
Thanks for all the great work so far!

Was interested in testing this out with a webapp I work on that uses `uwsgi`, but looks like it runs into an error when installing the latest version. Should this work?

Minimal reproduction with `docker build .`:
[code]
Error:
[code]
<details>
  <summary>Full error</summary>

[code]
</details>

[2022-05-13 21:09] colesbury commented on #60
Thanks for the bug report. I have a fix for the `co_stacksize` issue, but I'm not sure `uwsgi` will be thread-safe without the GIL. That will take a bit more time to investigate.

[2022-05-16 21:19] colesbury commented on #59
Fixed in https://github.com/colesbury/numpy/commit/6cbad069f211cc70899a2d73784a8a57ac97a424.

I've uploaded a new patched NumPy 1.22.3 wheel. Since the version number did not change, you'll have to run the following to get the new wheel:

[code]

[2022-05-16 21:19] #59 closed

[2022-05-16 22:34] colesbury commented on #57
This is fixed now in https://github.com/colesbury/nogil/commit/0126b8947b38d6caece644c43e2d96e46bc53252. The docker images aren't rebuilt yet -- I'll do that later this week.

[2022-05-16 22:34] #57 closed

[2022-05-17 01:18] colesbury commented on #60
I've fixed the issues and updated the Docker image. You may need to run `docker pull nogil/python` to get the latest image.

Alll of the uwsgi smoke tests pass, but uwsgi is complex and I'm not very familiar with the code so there may be lurking thread-safety issues. Please let me know if you run into any issues.

[2022-05-17 01:18] #60 closed

[2022-05-17 01:30] colesbury commented on #56
This is fixed now

[2022-05-17 01:30] #56 closed

[2022-05-17 01:31] colesbury commented on #58
This is fixed now with https://github.com/gaogaotiantian/viztracer/pull/242. I've also uploaded a viztracer wheel (compiled from master) to the nogil alternative package index.

[2022-05-17 01:31] #58 closed

[2022-05-17 08:02] lesteve opened #61 "types.CodeType arguments differ from CPython"
[code]

With nogil:
[code]

The same snippet works fine with CPython 3.9.

Context: I was trying to run the joblib test suite and one of the error happens when pickling a local function with cloudpickle:

[code]

[code]

Side-comment: CPython error are a bit nicer when wrong arguments are passed to `types.CodeType` for example something like this:
[code]

Having similar more informative error mess

[2022-05-17 12:12] ogrisel commented on #58
I confirm that this is fixed! Thank you very much for the quick fix.

[2022-05-17 12:17] ogrisel commented on #59
I confirm that this is also fixed on my end.

[2022-05-17 21:15] colesbury commented on #61
Thanks for the bug report. I'll look into this.

[2022-05-18 22:02] colesbury commented on #61
I've made some changes to nogil Python better support cloudpickle and submitted a PR to cloudpickle:

https://github.com/cloudpipe/cloudpickle/pull/470

You can use it immediately by running:

[code]

The above will get the patched version of cloudpickle from the alternative Python package index.

I don't plan to change the signature of `types.CodeType`. That API isn't stable and changes in nearly

[2022-05-20 16:13] ogrisel commented on #61
Thanks @colesbury for the fix. I have integrated it upstream and it's now part of cloudpickle 2.1.0 so you should not need to maintain a forked version of cloudpickle with `nogil` specific fixes.

We can even work on adding a CI entry on cloudpickle to run its tests against the nogil branch if needed.

[2022-05-20 17:56] colesbury commented on #61
@ogrisel  - awesome! `pip install cloudpickle` picks up the latest version (2.1.0) from upstream. It works with the latest docker image and building from source (the pyenv install is a bit out of date).

[2022-05-20 17:56] #61 closed

[2022-05-20 18:10] ogrisel opened #62 "Unexpected __code__.__hash__() collision for lambda functions"
On the `nogil` branch we have:

[code]

While on regular CPython it evaluates to `False`.

Not sure if it's a bug or not but this is making `test_memory_warning_lambda_collisions` fail on the joblib test suite:

https://github.com/joblib/joblib/blob/1fdf3086674d7b1be27688e8c7aebd3159d89997/joblib/test/test_memory.py#L303

[2022-05-20 19:56] colesbury commented on #62
I've improved the hash function in f3b6e462dcee0277089a49232c3a261796f8f859 to fix the code snippet

[2022-05-20 20:36] ogrisel commented on #62
I confirm this fixed the problem.

[2022-05-20 20:55] #62 closed

[2022-05-25 07:30] lesteve opened #63 "Warning at numpy import: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__"
[code]

[code]

Note that the warning is not visible when doing `python -c 'import numpy'` probably because the default warning filters filters it out.

I guess this is not a major blocker at all, but some projects turns warnings into errors (except for a few whitelisted warnings) in their pytest configuration e.g. distributed: https://github.com/dask/distributed/blob/8035d36de48f81e7fac5fb7fe78f8

[2022-05-26 18:09] colesbury commented on #63
Thanks for the bug report. I'll investigate this.

[2022-05-26 19:31] colesbury commented on #63
This is now fixed by enabling PEP 489 multi-phase init in Cython for nogil: https://github.com/colesbury/cython/commit/6921a8ab857d8491e73b53d066a6c72d172471dd

I've rebuilt and re-uploaded NumPy. I still need to re-build scipy and potentially some other packages.

[2022-05-26 20:13] colesbury commented on #63
I've rebuilt and uploaded SciPy and scikit-learn as well. Let me know if you run into these ImportWarnings in any other projects and I'll rebuild those a swell.

[2022-05-31 14:22] lesteve commented on #63
Thanks a lot, closing this one!

[2022-05-31 14:22] #63 closed

[2022-06-12 00:04] hengyuan-hu opened #64 "Does pybind11 work with this python?"
Hi, does pybind11 work with this python version? It seems not as `pip install pybind11` returns error. If I try to use some pybinded functions with multi-threading the program crashes.

[2022-06-12 01:53] #64 closed

[2022-06-12 05:12] hengyuan-hu opened #65 "Error when using nogil with pybind"
Hi, I am encountering some segmentation fault when using this interpreter to call some C++ code with pybind11. I tried to create a minimal example here. https://github.com/hengyuan-hu/nogil-pybind/tree/main

I know that some changes need to be made in order for pybind to work so the pybind11 in the above repo uses the modified files extracted from the customized whl file (see the readme in the rep

[2022-06-13 10:03] lesteve opened #66 "Segmentation fault with `distributed` package"
Here is a file that reproduces the segmentation fault (not completely deterministic, it does run fine sometimes, you may need to run it a few times):

[code]

To reproduce:
[code]

Debugging with gdb points towards the distributed profiling [code](https://github.com/dask/distributed/blob/main/distributed/profile.py). Maybe it is doing some CPython-specific things?

Here is the `bt` gdb info:
[code

[2022-06-13 19:04] colesbury commented on #65
Hi @hengyuan-hu, the pybind11 whl file was missing some fixes from the git repo. Sorry about that. I've updated it, so if you re-download the wheel you'll get the fixes.

The changes are also available in https://github.com/colesbury/pybind11 (the v2.6.2-nogil branch), if that's easier than downloading and extracting the wheel.

[2022-06-13 19:14] colesbury commented on #65
Here's a modified version of your example that installs pybind11 via pip.

https://github.com/colesbury/nogil-pybind

The advantage is that you don't need to pull in the specific patched pybind11 into your project. (So you can build it with either "nogil" Python or upstream Python and it'll use the correct pybind11 version).

[2022-06-13 20:26] colesbury commented on #66
Hi @lesteve - the crash should be fixed now in 2dcbadc25d58ff854b35406512971b5fc69793de.

I'm still a bit worried about the performance implications of the profiling in dask that triggered this bug. It uses `sys.current_frames()` to grab the call frames of all the threads in the current process. That's more expensive operation in "nogil" Python because it needs to pause all threads before creating

[2022-06-14 10:16] lesteve commented on #66
Thanks for the fix and the info!

At the moment, I am focusing on reporting issues I find by running the `distributed` tests (there are a few more I have seen but not yet debugged further) and not really using Dask on a real use case.

I guess the `sys.current_frames()` being more expensive in "nogil" may be addressed in the longer-term.

[2022-06-14 10:16] #66 closed

[2022-06-14 12:20] lesteve opened #67 "Segmentation fault in `tblib` package"
I found this one by trying to run the `distributed` tests (same thing as #66). My understanding is that `distributed` uses tblib for traceback so that the error in one of the workers can be pickled and sent to the client.

Here is a reproducer with `tblib`:

[code]

gdb `bt` info:
[code]

[2022-06-14 16:05] #65 closed

[2022-06-14 19:01] colesbury commented on #67
Thanks for the bug report. It looks like `tblib` [accesses](https://github.com/ionelmc/python-tblib/blob/v1.7.0/src/tblib/cpython.py#L68) some Python internals that changed in nogil Python, but also this code was [removed](https://github.com/ionelmc/python-tblib/commit/9e0a0f13238cde8f379dd4234db8d29b551c5b8e) in the `master` branch of `tblib`.

The above reproducer runs with the `master` branch w

[2022-06-15 04:10] JaheimLee opened #68 "How to install nogil in a conda env?"
Conda env is more convenient than pyenv for me. Could you provide a way to install and manage nogil  using conda in ther future?

[2022-06-15 13:53] lesteve commented on #67
Thanks, I did not think of trying with the development `tblib` version, I can confirm it is fixed in the development version, e.g. by doing:
[code]

[2022-06-15 13:53] #67 closed

[2022-06-15 17:42] colesbury commented on #67
I've uploaded `tblib` based on the latest development version to my alternate package index. `pip install tblib` will use that preferentially until the next version of `tblib` is released (1.8.0 ?) at which point it'll just use the version from pypi again.

[2022-06-15 18:55] colesbury commented on #68
I would like to support conda installation, but I don't think I'll be able to do that for a while. It requires a lot more effort to support than pyenv.

[2022-06-15 19:38] colesbury commented on #67
@lesteve How are you running the distributed tests? (What packages do you install?)

I'm trying to run the distributed test suite but it's not entirely clear to me which packages I need. I've managed to run some of the test suite and I'm seeing a mix of passed tests, some crashes (definitely bugs in nogil), and failed tests (unclear reasons).

[2022-06-16 08:45] lesteve commented on #67
Thanks a lot!

I think `pip install -r my-requirements.txt` with the below file should be enough to run the `distributed` tests:

[code]

A script like this creates a venv clones the distributed repo and runs the tests:
[code]

I guess crashes are probably the first thing to look at. I can try to help with failed tests with unclear reasons.

[2022-06-24 00:48] anzhi0708 opened #69 "Failed to build on 32-bit armv7 Termux, Android"
[code]

[2022-06-24 16:15] colesbury commented on #69
Hi @anzhi0708 - the "nogil" fork does not currently support 32-bit platforms.

[2022-06-25 04:46] #69 closed

[2022-06-29 20:02] Techno-Fox commented on #7
and 3.12 is in development. I know that  the summit it could add a compile option for nogil, but are there any updates on it?

[2022-07-01 06:55] zigzagcai opened #70 "unable to install tensorflow with nogil"
It seems that nogil has compatability with tensorflow package. I have a python script that has tensorflow as its dependency, but when I try to run it with nogil, it reports error. Do you have any ideas about how to fix this compatability. Thanks!

ErrorMsg:
python3 -m pip install tensorflow
Looking in indexes: https://d1yxz45j0ypngg.cloudfront.net/, https://pypi.org/simple
ERROR: Could not find a

[2022-07-03 00:37] colesbury commented on #70
Hi @zigzagcai, I haven't published a compatible tensorflow package yet because I wasn't sure how to build a tensorflow wheel and no one had asked for it yet. I'll look into this again, but it'll probably be a few weeks before I get to it.

[2022-07-04 01:38] zigzagcai commented on #70
Thanks! @colesbury

[2022-07-13 16:34] zigzagcai opened #71 "unable to install numpy==1.18.5 with nogil"
I have a program that only works with numpy<1.19, but It seems that nogil does not compatible with numpy==1.18.5.
`pip install numpy==1.18.5
Looking in indexes: https://d1yxz45j0ypngg.cloudfront.net/, https://pypi.org/simple
ERROR: Could not find a version that satisfies the requirement numpy==1.18.5 (from versions: 1.19.3, 1.19.4, 1.22.3)
ERROR: No matching distribution found for numpy==1.18.5`

[2022-07-14 04:54] zigzagcai commented on #71
Updated:

I have made some modifications to [numpy-v1.18.5-nogil](https://github.com/zigzagcai/numpy/tree/v1.18.5-nogil) and make it compatible with nogil.

[2022-07-14 08:00] zigzagcai commented on #70
Updated:

I have tried building tensorflow 2.6.0 and 2.2.0 from source using bazel ([following TF official guide](https://www.tensorflow.org/install/source)). It reports errors about `keras_python_api_gen failed`. However when I build tensorflow with original python3.9, no error accured.

Do we need to modify TF codes when using nogil? Thanks very much if anybody can provide some insights about ho

[2022-07-14 08:49] zigzagcai commented on #70
Updated:
I have successfully built tensorflow v2.6.0 wheels for nogil. Now it is fully compatible with nogil-python.

The cause of TF Build Error is `protobuf` version. After reinstall protobuf with specific version(`pip install protobuf~=3.19.0`), the issues was solved.

Here is the successful TensorFlow build log:
[code]

package list of nogil python:
[code]

[2022-07-14 08:56] zigzagcai commented on #70
Is there a way to upload tensorflow wheels into nogil [alternative package index](https://d1yxz45j0ypngg.cloudfront.net/)? So that other people can use TF with nogil.
Thanks!

[2022-07-14 09:16] zigzagcai commented on #71
This issue has been resolved.

Added link for commit:
https://github.com/colesbury/numpy/commit/0d6ef2770268711ee6417792ba0da35fcb264bf5

[2022-07-14 09:16] zigzagcai commented on #70
This issue has been resolved.

[2022-07-14 10:17] manueldeprada commented on #7
Is there any updated page where we can track what is being incorporated into Python 3.12??

[2022-07-14 12:55] zigzagcai opened #72 "unable to install grpcio with nogil"
Hi,
I have tried to install `tensorflow` package with nogil, which requires `grpcio` as dependency. But it seems that nogil has compatability with grpcio.

Reproduce command `pip install grpcio`

Error Msg:
[code]

Thanks very much if anybody can provide some insight on how to install nogil compatible grpcio!

[2022-07-15 14:33] colesbury commented on #71
Awesome - I'll copy your branch into my fork and publish a wheel for 1.18.5 to the alternate package index in case other people want to use it as well.

[2022-07-15 14:40] colesbury commented on #70
Hi @zigzagcai, you might run into issues because of pybind11. Pybind11 requires patches to be thread-safe without the GIL. If you "pip install pybind11", you'll get the patched version, but I think TensorFlow embeds it somehow with bazel.

[2022-07-15 18:52] colesbury commented on #72
I've uploaded a grpc wheel (version 1.47.0). Let me know if it works for you.

Had to make this change to Cython to compile grpc: https://github.com/colesbury/cython/commit/5ac8ca96d2c7a2392c1553f83aa9b54ad7a2cb4a

[2022-07-15 19:03] #72 closed

[2022-07-15 20:20] colesbury commented on #71
I've added NumPy 1.18.5 wheel based on your branch.

[2022-07-18 01:04] zigzagcai commented on #72
Thanks! It works now!

[2022-07-18 14:49] #4 closed

[2022-07-19 23:34] colesbury commented on #70
I've uploaded a version of TensorFlow 2.6.5 with the patched pybind11. You should get it with `pip install tensorflow`.

Changes are here:
https://github.com/colesbury/tensorflow/tree/v2.6.5-nogil

[2022-07-19 23:34] #70 closed

[2022-07-20 16:29] Cheukting opened #73 "Cannot install SciKit-learn with Mac OS"
## Environment
Python: nogil-3.9.10 on pyenv
OS: mac OS 12.4

When doing `pip install scikit-learn` as usual on a fresh virtualenv (nothing else installed). It looks like it cannot find the right version of numpy. (sorry the error message is too long can I don't know what is important to post here) It just keep trying different versions of scikit-learn but all of them failed eventually.

[2022-07-20 18:45] colesbury commented on #73
Hi @Cheukting, is this on the new ARM (M1) mac or an x86-64  (Intel) mac? (If you're not sure the command `uname -a` will tell you)

I'll look into providing pre-built packages for NumPy and SciKit-learn on macOS, but the ARM and Intel CPUs need different packages, so it'd be helpful to know which one to prioritize.

[2022-07-20 20:21] Cheukting commented on #73
Hi @colesbury thanks for the quick reply. The processor on my mac is 3.1 GHz Dual-Core Intel Core i7 so yes it's an x86-64 (Intel) mac.

Your keynote at EuroPython brings me to this. Thank you for the great work

[2022-07-21 13:27] colesbury commented on #73
I've uploaded wheels for NumPy, SciPy, and scikit-learn on x86-64 macOS. You should be able to run `pip install scikit-learn` now. Let me know if you run into any issues.

[2022-07-21 15:11] colesbury commented on #73
I also added wheels for arm64 macOS (NumPy, SciPy, scikit-learn) in case people want to use that.

There may be some slight differences from the "official" builds of those projects because of different BLAS and LAPACK libraries. (I built with the homebrew provided OpenBLAS libraries and without OpenMP support). I don't expect this to make much of a difference, but it might show up as a performance

[2022-07-21 15:11] #73 closed

[2022-07-24 19:12] ChefJodlak opened #74 "Inability to compile on Windows."
Hello, I am trying to compile nogil on Windows which is endping with LNK2019 and LNK1120 errors.
I am using VisualStudio Code 2017.
![errors](https://user-images.githubusercontent.com/45046499/180662319-07902556-3608-49e2-9827-ee8e68601678.png)

Do you know what might be a reason?

[2022-07-25 15:36] colesbury commented on #74
Hi @ChefJodlak - I'm able to reproduce the issue. I'll have a fix later today.

For what it's worth, you'll probably have a better experience on Linux (including on [WSL](https://docs.microsoft.com/en-us/windows/wsl/install)/WSL2). There are a lot more compatible binary wheels (like NumPy, SciPy, etc.) built for Linux than for Windows.

[2022-07-25 16:13] ChefJodlak commented on #74
We want to test a nogil for a Windows application that automates actions in ecommerce systems by sending requests and performing simple logic operations. We don't need specific libraries like numpy.

At large scale, we feel that GIL is the bottleneck.

[2022-07-25 19:26] colesbury commented on #74
This is fixed now in https://github.com/colesbury/nogil/commit/55d895ff819c75cb0b1694ecce5c23c50a46d568

Make sure to compile for 64-bit/x64. I don't think it currently works in 32-bit mode.

Please let me know if you run into any more issues.

[2022-07-25 19:26] #74 closed

[2022-07-25 23:12] colesbury commented on #74
I've also built a Windows installer, in-case that's easier to use:

https://github.com/colesbury/nogil/releases/download/v3.9.10-nogil/python-3.9.10-amd64.exe

[2022-07-26 07:14] ChefJodlak commented on #74
[EDIT] I've managed to bypass issue with Pillow using:
`python-nogil -m pip install Pillow --global-option="build_ext" --global-option="--disable-zlib" --global-option="--disable-jpeg"`

I found out that we are not able to use `.whl` made for **cp39-cp39-win_amd64**.  I understand it is a standard issue for custom CPython?

[2022-07-26 14:34] colesbury commented on #74
Yes, those wheels are not compatible. That's what I meant by "there are a lot more compatible binary wheels for Linux than for Windows." I've built compatible wheels for things like Pillow on Linux, but not on Windows.

[2022-08-17 09:55] houshijie-2020 opened #75 "Is this project production level?"
Is this project production level?

[2022-08-17 18:09] colesbury commented on #75
Probably not

[2022-08-18 17:42] #75 closed

[2022-08-19 13:59] houshijie-2020 opened #76 "Can it be used in production environment?"
Can it be tried in production environment?

[2022-08-19 14:00] houshijie-2020 commented on #75
what is the problem when used in production

[2022-08-19 16:30] colesbury commented on #76
Yes, it can be tried in a production environment. I don't know of any specific problems with running it in a production environment.

The question "is it production ready" is too broad; it's hard to give a useful answer. If you want a specific recommendation, you should clarify your questions: what do you mean by production environment? What are your use cases?

[2022-08-21 14:06] int2e opened #77 "Can python be added?"
`
pip install pythonnet
`

[https://github.com/pythonnet/pythonnet](pythonnet)

thanks!

[2022-08-22 04:09] houshijie-2020 commented on #76
1 i want to embed Python into Cpp program(a real business service);
2 the cpython code  and cpp business code are in the same process;
3 i want to use your multthread feature of this nogil project achieved by removing gil ;
for example ,i will call many python scripts in cpp code concurrently;

is there any known bug for this scenario;

[2022-08-22 09:26] houshijie-2020 opened #78 "which cpython version is used by the project?"
which cpython version is used by the project?
3.8.6?

[2022-08-22 16:21] colesbury commented on #78
It's based on Python 3.9.10

[2022-08-22 16:24] colesbury commented on #77
No. Unfortunately, pythonnet doesn't support Python 3.9.

[2022-08-22 16:25] colesbury commented on #76
I don't know of any bugs in that scenario.

[2022-08-23 02:52] houshijie-2020 commented on #76
terrific ；
thanks for your reply and patient

[2022-08-23 12:11] houshijie-2020 opened #79 "which branch is released formly"

[2022-08-23 14:14] thedrow commented on #77
pyproject.toml [says](https://github.com/pythonnet/pythonnet/blob/master/pyproject.toml#L24) they do.

[2022-08-23 14:15] thedrow commented on #77
They also run tests in [CI](https://github.com/pythonnet/pythonnet/blob/master/.github/workflows/main.yml#L19) with Python 3.9.

[2022-08-23 16:59] #78 closed

[2022-08-23 16:59] colesbury commented on #79
The `nogil` branch

[2022-08-24 04:27] int2e opened #80 "support debugpy ?"
[https://github.com/microsoft/debugpy](https://github.com/microsoft/debugpy)

There is no way to debug now.

[2022-08-25 02:32] houshijie-2020 commented on #79
thanks

[2022-08-26 02:18] #79 closed

[2022-08-29 08:31] houshijie-2020 opened #81 "import xx.pyd bug"
**1 embed cpython into demo.exe**
**demo.cpp**
`
#include <iostream>
#include <stdio.h>
#include <string>
#include "Python.h"
using namespace std;
void Python_run_file(const string& file_name)
{
    FILE* file;
    file = fopen(  file_name.c_str(), "r");
    PyRun_SimpleFile(file, file_name.c_str());
    fclose(file);
}

int main()
{
    Py_Initialize();
    Python_run_file("test_mnn.py");
    if

[2022-08-29 13:31] houshijie-2020 commented on #81
i load the mnn.pyd and mnn.dll sucessfully with cpyton3.9 branch ；
but failed with the nogil project

[2022-08-29 14:07] houshijie-2020 commented on #81
![image](https://user-images.githubusercontent.com/65584476/187220455-c8859d3e-414c-473c-b0f9-c24da44a0ed4.png)
this is core stack
it fails at  this line:   m = p0();

[2022-08-29 14:10] houshijie-2020 commented on #81
0x00007FFCED088914 (pymnn.cp39-win_amd64.pyd)处(位于 Sdk3.0.exe 中)引发的异常: 0xC0000005: 读取位置 0x00000000000000AC 时发生访问冲突。

[2022-08-29 17:06] colesbury commented on #81
Sorry - there is not enough information in this bug report to be take any action.

[2022-08-30 02:32] houshijie-2020 commented on #81
what else is needed ? i can send you the pyd and dll files

[2022-08-31 03:52] #81 closed

[2022-08-31 07:18] houshijie-2020 opened #82 "install numpy fails"
i build nogil ,and use nigil as defaut python;
when i install numpy with pip,it report a error:
![image](https://user-images.githubusercontent.com/65584476/187617093-3b590b98-7cb4-47c7-8984-06b60b18303d.png)

[2022-08-31 07:39] ghost commented on #82
Try running these two commands.
[code]

[2022-08-31 09:14] houshijie-2020 commented on #82
**dont works
the error happened when compile numpy/core/shape.cc:**

       shape.c
      numpy\core\src\npymath\npy_math_internal.h.src(897): warning C4244: “return”: 从“unsigned short”转换到“uint8_t”，可能丢失数据
      numpy\core\src\npymath\npy_math_internal.h.src(903): warning C4244: “return”: 从“unsigned __int64”转换到“uint8_t”，可能丢失数据
      numpy\core\src\multiarray\shape.c(108): error C2039: "ob_refcnt":

[2022-08-31 09:18] houshijie-2020 commented on #82
this error only happens when i use compiled nogil as default python interpreter;

[2022-08-31 16:40] colesbury commented on #82
I've provided pre-built binary wheels for NumPy on Linux and macOS, but not for Windows. You will have to build extensions yourself for nogil on Windows. The experience is much better on Linux, so I recommend it, if that is an option (including WSL2).

For NumPy, you will have to build from this fork and branch https://github.com/colesbury/numpy/tree/v1.22.3-nogil, which has changes required for n

[2022-09-01 11:16] houshijie-2020 commented on #82
is  opencv-python compatible ?

[2022-09-01 12:25] houshijie-2020 commented on #82
Traceback (most recent call last):
    File "/usr/local/python3.9/lib/python3.9/site-packages/pip/_vendor/pep517/in_process/_in_process.py", line 363, in <module>
      main()
    File "/usr/local/python3.9/lib/python3.9/site-packages/pip/_vendor/pep517/in_process/_in_process.py", line 345, in main
      json_out['return_val'] = hook(**hook_input['kwargs'])
    File "/usr/local/python3.9/lib/pytho

[2022-09-01 14:10] houshijie-2020 opened #83 "nogil runtime error"
printf Py_GetPythonHome : /usr/local/nogil-py/

printf Py_GetPythonPath : /usr/local/nogil-py/lib/python39.zip:/usr/local/nogil-py/lib:/usr/local/nogil-py/lib/python3.9/site-packages:/usr/local/nogil-py/lib/python3.9:/usr/local/nogil-py/lib/python3.9/lib-dynload:/usr/local/nogil-py/lib/python39.zip:/usr/local/nogil-py/lib/python3.9:/usr/local/nogil-py/lib/python3.9/lib-dynload

Traceback (most rec

[2022-09-01 14:10] houshijie-2020 commented on #83
#include <iostream>
#include <stdio.h>
#include <string>

#include "Python.h"

using namespace std;

void Python_run_str(const string& str)
{
    PyRun_SimpleString(str.c_str());

}

void Python_run_file(const string& file_name)
{
    FILE* file;
    file = fopen(file_name.c_str(), "r");
    PyRun_SimpleFile(file, file_name.c_str());
    fclose(file);
}

int main()
{
    printf("printf Py_GetPytho

[2022-09-01 17:31] colesbury commented on #82
Yes, there is a pre-built opencv-python wheel (4.5.3.56) for Linux

[2022-09-01 19:26] colesbury commented on #83
It's not clear to me what's you're trying to do. It looks like you have a custom C API extension and also are trying to embed the interpreter? It looks likely that you have some build misconfiguration.

Can you put together a complete reproduction, including the code and commands to build it?

[2022-09-02 06:33] houshijie-2020 commented on #82
is there any git project fot this versin?

[2022-09-02 06:38] houshijie-2020 commented on #83
i am  trying to embed the interpreter （MNN is a a custom C API extension）
**the comiple command:**
gcc test_mnn.cpp  -lstdc++ -I/usr/local/nogil-py/include/python3.9/ -lm -L/usr/local/nogil-py/lib/ -lpython3.9 -lpthread  -lutil -ldl -o test_mnn

**gcc version:**
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/local/libexec/gcc/x86_64-pc-linux-gnu/10.3.0/lto-wrapper
Target: x86_64-pc

[2022-09-02 08:00] houshijie-2020 commented on #82
pillow  is not compatible ？

is the compatibility problem serious  for nogil-cpython？

[2022-09-06 15:57] lesteve opened #84 "Is there some interest to have the `nogil/python` docker image updated on each commit?"
We are currently building nogil in scikit-learn CI and testing against it.

It could potentially slightly simplify our setup and also reduce our CI build time to be able to use the `colesbury/nogil` docker image.

It would be nice if the docker image was updated on each commit, which does not seem to be the case right now. The latest update to the docker image is May 18 2022, if I read the [docker

[2022-09-07 07:40] lesteve commented on #84
Of course the low-tech alternative is to use the `nogil/python` docker image and accept that this is not always up-to-date. Maybe that is good enough for our purposes.

[2022-09-07 15:51] colesbury commented on #84
Hi @lesteve, a GitHub actions workflow that automatically updates the Docker image would be great. I'd be happy to accept a PR that sets that up, if you have some time to look into it.

[2022-09-08 17:38] #84 closed

[2022-09-20 12:48] Roxas opened #86 "nogil does not optimize mac pro M1 chip(arm64)"
When I try to use nogil with your fab.py on my mac pro M1，I found nogil could not make use m1 8 cores.  And it seems like it dose not support arm chip as good as x86. when I use 1 thread run fab.py with nogil, it use 8 seconds, but I use 1 thread run fab.py with CPython, it just use 1 seconds. I also run this fab.py script on my intel x86 server,  its performance is so surprised as your tips.

[2022-09-30 17:49] colesbury commented on #86
How did you build/install it? I have an M1 mac and it scales well and runs quickly.

[2022-10-11 09:05] darowny commented on #43
Wow bad idea to use nogil in production , I can try too look into it later .

W dniu śr., 6.04.2022 o 20:13 AYMEN Mohammed ***@***.***>
napisał(a):

[2022-11-01 11:10] Cheukting opened #87 "Package request - Pillow-9.3.0"
I ran into an installation error when installing Pillow.

[code]

I guess that there's no pre-build available. Before I tried to build it myself. I wonder is it possible to have the pre-build available?

The processor on my mac is 3.1 GHz Dual-Core Intel Core i7 so yes it's an x86-64 (Intel) mac.

Thank you very much.

[2022-11-03 18:29] colesbury commented on #87
Hi @Cheukting, I'll look into building a version of Pillow for nogil on macOS.

[2022-11-03 18:44] colesbury commented on #87
I've uploaded a Pillow 9.3.0 wheel for nogil Python on Intel macOS. `pip install pillow` should now use it.

Please let me know if you run into any issues.

[2022-11-04 08:49] Cheukting commented on #87
Thank you, really appreciate it. It works!

[2022-11-13 13:23] sdli1995 opened #88 "nogil pytorch pip install not support"
I build nogil from source and try install pytorch use pip like this command:
pip install torch --index-url https://download.pytorch.org/whl/cu116
or
pip install ../lib/nogil/torch-1.9.1+cu111-cp39-cp39-linux_x86_64.whl
and rlst is  "ERROR: Could not find a version that satisfies the requirement torch (from versions: none) or ERROR: torch-1.9.1+cu111-cp39-cp39-linux_x86_64.whl is not a supported wh

[2022-11-14 01:00] DimitrisJim commented on #7
The what's new document keeps track of these things, the current one for [3.12](https://docs.python.org/3.12/whatsnew/3.12.html) is available (and continuously updated).

[2022-11-14 07:05] oraluben commented on #88
The nogil cannot use some packages built for CPython. You can use just `pip install torch` to install a modified torch:https://github.com/colesbury/nogil#packages

[2022-11-14 12:53] manueldeprada commented on #7
Thank you. I see it's nowhere in the roadmap for 3.12. I was asking more for something like a link where we can follow the status and discussion of the NOGIL integration into Python.

Right now, I could only find some minutes from core-dev meetings and discussions on the mailing list.

It would be great if there was a central thread somewhere that tracked the discussion and status of the NOGIL int

[2022-11-14 15:54] colesbury commented on #7
@manueldeprada I'm currently working on a PEP (Python enhancement proposal). When it's ready, it will be posted to https://discuss.python.org/c/peps/ and I'll share a link to it here.

[2022-11-14 16:12] colesbury commented on #88
What @oraluben said is correct.  You can run `pip install torch` to get PyTorch 1.9 with CUDA 11.0 on Linux.

[2022-11-15 02:36] sdli1995 commented on #88
thanks ! its works

[2022-11-15 02:36] #88 closed

[2022-11-23 02:53] sdli1995 opened #89 "Vscode can not debug nogil"
when i use decode debug a file in nogil , the vscode python debug throw an error like this:

[code]

[2022-11-28 16:41] colesbury commented on #89
Sorry - I don't think VS code debugging is going to work. It depends on the bytecode format which is changed in the "nogil" Python.

The built-in debugger (pdb) and ipython debugger (ipdb) should work.

[2022-11-28 17:58] anandvsr opened #90 "Unable install onnxruntime"
System Details:
============
OS: Ubuntu 20.04.5 (Linux)
CPU: 11th Gen Intel® Core™ i7-11850H @ 2.50GHz × 16

I'd tried to install `onnxruntime` in `nogil-3.9.10`

![image](https://user-images.githubusercontent.com/66105422/204346901-6633403d-7ba9-45c0-8a32-1764d674818c.png)

Am I need to build ONNXRuntime from the source?

[2022-11-28 18:37] colesbury commented on #90
I will look into providing pre-built wheels for onnxruntime, but in the meantime you will need to build from source.

[2022-11-28 22:35] colesbury commented on #90
I've uploaded a wheel for onnxruntime (Linux/cpu). Let me know if it works or you run into any issues.

You can install it now with `pip install onnxruntime`

[2022-11-29 01:36] sdli1995 commented on #89
thanks , i swtch to a normal python environment when i debug

[2022-11-29 01:36] #89 closed

[2022-11-29 02:13] anandvsr commented on #90
It works @colesbury 🙌. Thank you.

[2022-11-29 02:13] #90 closed